{% extends "base.html" %}
{% set active_page = "jira_list" %}
{% block content %}
	<table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>项目</th>
          <th>问题类型</th>
          <th>主题</th>
          <th>描述</th>
          <th>版本类型</th>
          <th>领域</th>
          <th>模块</th>
          <th>详情</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal">详情</button>
          <div class="modal fade in" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="True">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      </div>
		      <div class="modal-body">
		      <iframe src="{{url_for('view.listdetail')}}" id="myiframe" scrolling="no" onload="changeFrameHeight()"  width="100%"  frameborder="0"></iframe> 
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}